 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Poppins:wght@100&display=swap');
 * {
     margin: 0;
     padding: 0;
     font-family: "poppins", sans-serif;
     background-position: center;
 }
 
 body {
     display: flex;
     justify-content: space-around;
     max-width: 100%;
     align-items: center;
     text-align: center;
     padding-top: 10px;
     margin-top: 100px;
     font-size: 20px;
     background-color: aqua;
 }